* {
  margin: 0;
  padding: 0;
}
.home {
}

.topbar {
  background-color: #4e585f;
  height: 4vh;
  color: #ffffff;
  padding: 5px;
  font-size: 20px;
  font-style: oblique;
  display: flex;
  align-items: center;
  font: bold;
  font-weight: 600;
}
.belowtopbar {
  height: 6vh;
  border: 1px solid #cccccc;
  margin: 1vmax;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12);
}
.matches {
  background-color: #335a7b;
  color: #ffffff;
  padding: 5px;
  font-weight: 700;
}
.match {
  border-bottom: 1px solid #cccccc;
  padding: 1vmax;
  cursor: pointer;
}
.match:hover {
  background-color: rgb(250, 246, 246);
}
.match p {
  color: #113d59;
  font-size: 14px;
  font-weight: 600;
}
.match h1 {
  font-size: 18px;
  color: #113d59;
  font-weight: 400;
}
.match h2 {
  font-size: 16px;
  color: #4a90e2;
  font-weight: 700;
}
.more {
  color: #c7343c;
  outline: none;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  padding: 1vmax;
  font-size: 16px;
  font-weight: 600;
  margin: 1vmax 1vmax;
  border-radius: 5px;
}
.video {
  display: flex;
  justify-content: space-between;
  padding: 1vmax;
  color: #113d59;
  align-items: flex-start;
  border-bottom: 1px solid #cccccc;
}
.video h2 {
  font-size: 16px;
  width: 100%;
  margin-left: 1vmax;
  font-weight: 700;
}
.footer {
  background-color: #4e585f;
  color: #ffffff;
  display: flex;
  padding: 2vmax;
  justify-content: space-evenly;
}
.footer p {
  font-size: 14px;
}
.foot1 {
  margin-right: 4vw;
}
.foot1 p {
  margin-top: 1vmax;
}
.foot2 p {
  margin-top: 1vmax;
}
.foot1 h1 {
  font-size: 16px;
}
.foot2 h1 {
  font-size: 16px;
}
.matchheader {
  background-color: #335a7b;
  color: #ffffff;
  height: 4vh;
  padding: 1vmax;
  display: flex;
  align-items: center;
}
.matchheader h1 {
  font-size: 14px;
}
.commentaryheader {
  background-color: #335a7b;
  color: #ffffff;
  padding: 1vmax;
}
.score {
  padding: 1vmax;
}
.score h2 {
  font-size: 14px;
  color: #c7343c;
}
.score h1 {
  font-size: 16px;
}
.commentaryheader h1 {
  font-size: 16px;
}
.box {
  border: 1px solid #dddddd;
  width: 50%;
  display: flex;
  border-collapse: collapse;
  color: #4a90e2;
}
.box h4 {
  color: #4a90e2;
}
.smallbox {
  border-right: 1px solid #dddddd;
  width: 50%;
  border-collapse: collapse;
  padding: 1vmax;
  font-weight: 600;
  text-align: center;
}
.score h4 {
  color: #4a90e2;
  margin-bottom: 2vmax;
}
.score h5 {
  opacity: 0.5;
}
#battingscorecard tr:nth-child(even) {
  background-color: #f2f2f2;
}

#battingwicketscard tr:nth-child(even) {
  background-color: #f2f2f2;
}

#battingwicketscard {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 5vh;
}

#battingscorecard {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 5vh;
}
#battingscorecard th {
  font-size: 16px;
  font-weight: 100;
  opacity: 0.99;
  text-align: left;
  padding: 5px;
}
#battingscorecard td {
  font-size: 16px;
  padding: 5px;
  width: 100%;
  outline: none;
  border: none;
  margin: 0;
}
#battingwicketscard th {
  text-align: left;
  font-weight: 100;
  opacity: 0.99;
  padding: 5px;
}
#battingwicketscard {
  width: 100%;
}
#battingwicketscard td {
  font-size: 16px;
  padding: 5px;
  outline: none;
  border: none;
  width: 13%;
}
#playername {
  color: #4a90e2;
  font-weight: 700;
}

#plname {
  color: #4a90e2;
  font-weight: 700;
  float: right;
  white-space: nowrap;
}
#plyname {
  font-weight: 700;
  float: right;
  white-space: nowrap;
}
#howout {
  white-space: nowrap;
  width: 100px;
  overflow: hidden;
}
#evenrow {
  height: 25px;
  width: 170px;
  display: block;
  text-overflow: ellipsis;
}
.batting {
  background-color: #113d59;
  color: #ffffff;
  padding: 5px;
}
.matchinfo {
  margin-bottom: 2vmax;
}
.matchin {
  border-bottom: 1px solid #dddddd;
  padding: 1vmax;
}
.matchin h1 {
  font-size: 16px;
  color: #4a90e2;
}
.commentary {
  padding: 1vmax;
  border-bottom: 1px solid #dddddd;
}
.commentary p {
  font-size: 14px;
}
.overnum {
  font-weight: 400;
}
.overnum h2 {
  display: inline;
  font-size: 14px;
  font-weight: 800;
}
#battingwicketscard td:nth-child(4) {
  width: 50%;
  padding-right: 20px;
}

#battingwicketscard th:nth-child(4) {
  width: 50%;
  padding-right: 20px;
}
